.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
 .App{
  background-color: #282c34;
  color: #FFF;
  
 }
 body{
  background-color: #282c34 !important
 }
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

header{
  color: #FFF
}
.search-btn{
  float: right;
  margin: 5px 10px;
}
.back-btn{
  float : left;
  margin: 5px 10px;
}
.search-box{
  margin: 5px
}
.list-data{
  text-align: left;
  margin : 3%
  
}
.film-image {
  width: 100%;
  
}
.zero-padding{
  padding: 0px;
}
.list-container {
  margin: 2px 17px;
}
.inline-display{
  display: inline;
}
.title{
  margin-left: -44%;
}

